<%- include('../partials/header') %>

    <h2>My Profile</h2>

    <div>Favorite Characters:</div>
    <%= profile.favoriteCharacters %>   
    <form action="/profiles/show" method="POST">
         <input type="text" name="favoriteCharacters" placeholder="Favorite Characters">
         <input type="submit">
    </form>
    </br>


    <div>Favorite Episodes:</div>
    <%= profile.favoriteEpisodes %> 
    <form action="/profiles/show" method="POST">
         <input type="text" name="favoriteEpisodes" placeholder="Favorite Episodes">
         <input type="submit">
    </form>
    </br>


    <div>Favorite Quotes:</div>
    <%= profile.favoriteQuotes %>   
    <form action="/profiles/show" method="POST">
        <input type="text" name="favoriteQuotes" placeholder="Favorite Quotes">
        <input type="submit">
    </form>



<%- include('../partials/footer') %>