<%- include('../partials/header') %>
<div class="season-index-page">
<div class="container">
    <h2 class="season-header"> Season <%= ourNumber %></h2>

  <div class="season-page">
    <% episodes.forEach(function(episode) {%>
        <div class="card text-center episode-card">
            <h5 class="card-title"><%= episode.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Episode <%= episode.episodeNumber %></h6>
            <a href="/episodes/<%= episode._id %>"class="card-link" role="button">Details</a>
        </div>
    <% }); %>
  </div>
</div>
</div>

<%- include('../partials/footer') %>