<%- include('../partials/header') %>
<div class="container">
<h2> Season <%= ourNumber %></h2>

<% episodes.forEach(function(episode) {%>
    
    <%= episode.title %>
    <%= episode.episodeNumber %>
    <a href="/episodes/<%= episode._id %>"class="btn btn-primary btn-lg active" role="button">Details</a>
<% }); %>

</div>

<%- include('../partials/footer') %>