<%- include('../partials/header') %>
<div class="container">

<%= episode.title %>
<%= episode.seasonNumber %>
<%= episode.episodeNumber %>
<%= episode.director %>
<%= episode.airDate %>
<%= episode.synopsis %>
<hr>
<form action="/episodes/<%= episode._id %>/like" method="POST">
   <button type="submit" <%= !user ? 'disabled' : "" %>>
       <i class="fas fa-wine-glass-alt <%= (user && episode.likes.includes(user._id)) ? 'clicked' : '' %>"> 
       </i></button>
</form>
<p>likes: <%= episode.likes.length %></p>

<form action="/episodes/<%= episode._id %>/dislike" method="POST">
   <button type="submit"<%= !user ? 'disabled' : "" %>>
       <i class="fas fa-beer <%= (user && episode.dislikes.includes(user._id)) ? 'clicked-dis' : '' %>">
       </i></button>
</form>
<p>dislikes: <%= episode.dislikes.length %></p>

<hr>
<h3>comments</h3>
<form action="/episodes/<%= episode._id %>/comments" method="POST">
    <input type="text" name="content" placeholder="add a comment">
    <input type="submit" value="comment">
</form>
<% episode.comments.forEach(function(comment){ %>
<div>
    <%= comment.content %>
    <%= comment.userName %>
    <form action="<%= episode._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
        <button type="submit">X</button>
      </form>
</div>
<% }); %>
</div>

<%- include('../partials/footer') %>