<%- include('../partials/header') %>
<div class="container">
<img class="card-img-top" src="<%= actor.photo%>" alt="Card image cap">
<%= actor.name %>
<%= actor.character %>
<%= actor.bio %>
</div>

<%- include('../partials/footer') %>